<footer>
  <div class="container">

    <div class="row">
      
      <div class="col-sm-4">
        <div class="padder">
          <h4>Media</h4>

          <i class="fa fa-facebook-official"></i>&nbsp; <a href="https://www.facebook.com/edinsolarracing" target=_blank>Facebook</a><br>
          <i class="fa fa-twitter"></i>&nbsp; <a href="https://twitter.com/Edinsolar" target=_blank>Twitter</a><br>
          <i class="fa fa-github"></i>&nbsp; <a href="https://github.com/EdinSolar" target=_blank>GitHub</a><br>
          <i class="fa fa-envelope"></i>&nbsp; <a href="http://eepurl.com/bqnbLv" target=_blank>Mailing List</a><br>
          
          <hr>
          <p>Hosted on <i class="fa fa-github"></i> GitHub Pages</p>
        </div>
      </div>



      <div class="col-sm-4">
        <div class="padder">
          <h4>Contact</h4>
          <em>For general enquiries:</em><br>
          <i class="fa fa-envelope"></i>&nbsp; Email <a href="mailto:contact@edinsolar.org">contact@edinsolar.org</a><br><br>

          <em>For sponsorship details:</em><br>
          <i class="fa fa-envelope"></i>&nbsp; Email <a href="mailto:sponsorship@edinsolar.org">sponsorship@edinsolar.org</a><br><br>

          <em>Media &amp; press:</em><br>
          <i class="fa fa-envelope"></i>&nbsp; Email <a href="mailto:media@edinsolar.org">media@edinsolar.org</a><br>  
          
        </div>
      </div>
      

      <div class="col-sm-4">
        <div class="padder">
          <h4>Address</h4>

          <i class="fa fa-map-marker"></i><br>
          <p>
            Edinsolar<br>
            The University of Edinburgh<br>
            Faraday Building, King's Buildings<br>
            Colin Maclaurin Road<br>
            Edinburgh<br>
            EH9 3DW<br>
          </p>
        </div>
      </div>
      
    </div><!-- /.row -->
    
  </div>
</footer>
