<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="theme-color" content="#181818" />

    <!-- Twitter rich content metadata -->
    <meta name="twitter:site" content="@Edinsolar" />
    <meta name="twitter:creator" content="@Edinsolar" />
    <meta name="twitter:title" content="{{ page.title }} - {{ site.title }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    {% if page.image %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ site.url }}/img/post/{{ page.image }}" />
    {% else %}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:image" content="{{ site.url }}/img/icon.png" />
    {% endif %}
    
    <!-- OpenGraph Metadata -->
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="sports_team" />
    <meta property="og:title" content="{{ page.title }} - {{ site.title }}" />
    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}/img/post/{{ page.image }}" />
     {% else %}
    <meta property="og:image" content="{{ site.url }}/img/icon.png" />
    {% endif %}
    <meta property="og:site_name" content="Edinsolar.org" />
    <meta property="og:description" content="{{ site.description }}" />

    <meta name="description" content="{{ site.description }}" />

    
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,100,200|Roboto+Slab:400,100,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/override.css">

    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon.png">
    <link rel="apple-touch-icon icon" href="{{ site.baseurl }}/img/icon.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/icon.png">
    <link rel="apple-touch-icon icon" href="{{ site.baseurl }}/img/icon.png">

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5BYVE3oKEViAlgFojqSF0knELehn-CLM">
    </script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/masonry.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/override.js"></script>
  </head>
