---
layout: condensed
---

<div class="container-fluid container-xl">
  <div class="row">
    <div class="col-sm-4 col-md-5 no-gutter">
      <img src="{{ site.baseurl }}/img/{{ page.image }}" class="img-responsive">
    </div>

    <div class="col-sm-8 col-md-7">
      <div class="padder">
        <a href="{{ page.url | prepend: site.baseurl }}">
          <h1>{{ page.title }}</h1>
        </a>
        <br>
        <span class="colour-glass">Published {{ page.date | date: "%b %-d, %Y" }}
          by {{ page.author | strip_html | truncatewords:5 }}</span>
        <br><br>
        {{ content }}
      </div>
    </div>

  </div>
</div>
